<!doctype html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="googlebot" content="index,follow">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.0/angular.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <!-- 实例1 -->
    <hello></hello>

    <br>
    <br>
    <br>
    <!-- 实例2 -->
    <hello1>
        <br>
        <span>原始内容，</span>
        <span>还会在这里。</span>
    </hello1>

    <hello1></hello1>
    <!-- 指令的作用是把我们自定义的语义化的标签替换成浏览器能够认识的
      html标签 transclude 就是用来处理当自定义标签内部出现了子标签的情况-->
    <br>
    <br>
    <br>

    <!-- 实例3 关于compile 和 link -->
    <!-- 指令的本质是一个替换的过程，要深究angular是如何进行替换的，
    需要知道compile和link两个阶段  compile阶段进行标签解析和变换
    link 阶段进行数据绑定等操作-->
    <div ng-controller="MyController">
        <div ng-repeat="thing in things">
            {{thing}}.
            <hello></hello>
        </div>
    </div>


    <!-- 比方说，你有一些事件需要绑定到某个元素上，那么需要提供一个link函数 -->
    <!-- <div ng-controller="SomeController">
      <expander class="expander" expander-title="title">
        {{text}}
      </expander>
    </div> -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 综合例子 -->
    <div ng-controller="controller1">
        <accordion>
            <expander class="expander" ng-repeat="expander in expanders" expander-title="title">
                {{expander.text}}
            </expander>
        </accordion>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>angular sample app</h2>
    <div ng-controller="CalcController">

        <p>Enter number:
            <input type="number" ng-model="number" />
            <button ng-click="square()">X<sup>2</sup></button>
            <button ng-click="add()">add</button>
            <p>
                Mul Result: {{result}}
            </p>
            <p>
                Add Result: {{result1}}
            </p>

    </div>


    <!-- <h2>AngularJS Sample Application</h2>
    <div ng-controller="CalcController">
        <p>Enter a number:
            <input type="number" ng-model="number" />
            <button ng-click="square()">X<sup>2</sup></button>
            <p>Result: {{result}}</p>
    </div> -->
</body>

</html>
