div {
    padding: 6px;
}
div.container {
    border: 1px solid black;
}
div.my-info {
    border: 1px solid blue;
}
div.my-directive {
    border: 1px solid green;
}
.expander {
    border: 1px solid black;
    width: 250px;
}
.expander > .title {
    background-color: black;
    color: white;
    padding: .1em .3em;
    cursor: pointer;
}
.expander>.body {
    padding: .1em .3em;
}
